/* Global Styles */
* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
    
  }


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FBF7F4;
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
}

.btn-login{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1683A;
  color: #FBF7F4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background-color: #E8998D;
  }

  form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #34495e;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }